image: node:8-alpine

cache:
  paths:
    - node_modules/

before_script:
  - npm install
  - npm run build
  - apk update
  - apk add lftp

deploy:
    stage: deploy
    only:
        - master
    script:
      - lftp -c "set ftp:ssl-allow no; open -u $USERNAME,$PASSWORD $HOST; mirror -Rev dist/ /  --ignore-time --parallel=10 --exclude-glob .git* --exclude .git/"

