@font-face {
  font-family: 'Syne';
  src: url('~@/assets/fonts/Syne/Syne-Regular.eot');
  src: url('~@/assets/fonts/Syne/Syne-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Syne/Syne-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Syne/Syne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Syne';
  src: url('~@/assets/fonts/Syne/Syne-Bold.eot');
  src: url('~@/assets/fonts/Syne/Syne-Bold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Syne/Syne-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Syne/Syne-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
};

@font-face {
  font-family: 'Syne';
  src: url('~@/assets/fonts/Syne/Syne-Extra.eot');
  src: url('~@/assets/fonts/Syne/Syne-Extra.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Syne/Syne-Extra.woff2') format('woff2'),
  url('~@/assets/fonts/Syne/Syne-Extra.woff') format('woff');
  font-weight: extra;
  font-style: normal;
};

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};
